
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="jumbotron">
        <div class="text-center"><span class="fas fa-frown text-danger fa-5x" ></span></div><br />
        <h1 class="text-center">404 Erorr<p> </p><p><small class="text-center">You are NOT Authorized to be here </small></p></h1>
       
        <p class="text-center">
        <a class="btn btn-danger btn-lg" asp-controller="Documents" asp-action="Index"><i class="fa fa-home"></i> Leave Now!</a>
        </p>
    </div>
</div>

